html {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.menu-search-menu-account {
  display: flex;
  justify-content: space-between;
}

.menu {
  color: #5f6368;
  vertical-align: middle;
  margin-top: 2px;
  font-size: 20px;
  padding: 8px;
}

.logo {
  height: 30px;
  padding: 4px 28px 0 30px;
}

.search-bar-container {
  margin-top: 5px;
  height: 39px;
  width: 690px;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 24px;
}

.search-bar {
  margin-top: 3px;
  margin-left: 11px;
  height: 20px;
  width: 400px;
  border: none;
  outline: none;
}

.logo-search {
  display: flex;
}

.account-menu {
  display: flex;
}

.account {
  padding: 4px;
}

.account img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.tab-menu-items {
  display: flex;
}
